<%- include('layout/header') %>
    <div class="container">
        <h1>User List</h1>
        <table id="usersTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=> { %>
                    <tr>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.phone %>
                        </td>
                        <td>
                            <img src="/uploads/<%= user.image %>" width="100" alt="User Image">
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <%- include('layout/footer') %>